<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">

    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>

    </head>
    <title>Proyecto Final Minería de Datos</title>
</head>

<body>
    <script>
        // Verificar si la variable de sesión indica que el archivo es incorrecto
        var archivoIncorrecto = "{{ 'true' if session.get('archivo_incorrecto') else 'false' }}";
        archivoIncorrecto = (archivoIncorrecto === 'true'); // Convertir a booleano


        // Restablecer la variable de sesión para futuros usos
        {% set _ = session.pop('archivo_incorrecto', None) %};


        // Si la variable indica que el archivo es incorrecto, mostrar SweetAlert
        if (archivoIncorrecto) {
            swal("Archivo incorrecto", "El archivo que subiste no es válido.", "error");
        }
    </script>
    <nav>
        <h1>Proyecto A</h1>
    </nav>

    <div class="container">
        <div class="showcase">
            <div class="textsh1">
                Una GUI diseñada para minar datos, lo unico que debes hacer es ingresar tu CSV.
            </div>
            <div class="imagesh1">
                <img src="{{ url_for('static', filename='images/image1.png') }}" alt="">
            </div>
        </div>

        <div class="cargaFile">
            <form id="csv-form" action="/upload" method="POST" enctype="multipart/form-data">
                <div id="drop-zone" class="upload-area">
                    <input type="file" accept=".csv" name="file" id="my-file" required>

                    <label class="custom-upload"><i id="cloud" class="fa fa-cloud-upload"></i> <i id="icsv"
                            class="fa-solid fa-file-csv"></i>
                        <p id="mUpload">Da click para abrir el explorador de archivos o arrastre su CSV</p>
                    </label>

                </div>
                <div class="submit">
                    <input type="submit" id="submitFile" value="Cargar CSV">
                </div>
            </form>
        </div>

        <div id="pkl">
            <h2>Si ya has usado nuestras plataforma y descargaste un modelo, puedes cargarlo en el siguiente apartado, aqui solo haras predicciones.</h2>
            <div class="cargaFile">
                <form id="pkl-form" action="/upload_pkl" method="POST" enctype="multipart/form-data">
                    <div id="drop-zone-pkl" class="upload-area">
                        <input type="file" accept=".pkl" name="file-pkl" id="my-file-pkl" required>
    
                        <label class="custom-upload"><i id="cloud-pkl" class="fa fa-cloud-upload"></i> <i id="ipkl"
                                class="fa-solid fa-file"></i>
                            <p id="mUploadpkl">Da click para abrir el explorador de archivos o arrastre su modelo en PKL</p>
                        </label>
    
                    </div>
                    <div class="submit">
                        <input type="submit" id="submitFile" value="Cargar PKL">
                    </div>
                </form>
            </div>
        </div>
    
        </div>

</body>
<script src="{{url_for('static', filename='js/upload-file.js')}}"></script>

</html>