<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Cargado</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/project.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
    <script>
        // Verificar si la variable de sesión indica que el archivo es incorrecto
        var archivocargado = "{{ 'true' if session.get('file_uploaded') else 'false' }}";
        archivocargado = (archivocargado === 'true'); // Convertir a booleano


        // Restablecer la variable de sesión para futuros usos
        {% set _ = session.pop('file_uploaded', None) %};

        // Si la variable indica que el archivo es incorrecto, mostrar SweetAlert
        if (archivocargado) {
            swal("Archivo Cargado Exitosamente", "El archivo que subiste ha sido cargado exitosamente.", "success");
        }
    </script>

    <nav>
        <h1>BIENVENIDO</h1>
        <p v-text="'USANDO ARCHIVO ' + nombreCSV"></p>
    </nav>

    <div id="app">
        <div class="tabs">
            <button :class="{ active: activeTab === 'tab1' }" @click="changeTab('tab1')">EDA</button>
            <button :class="{ active: activeTab === 'tab2' }" @click="changeTab('tab2')">PCA</button>
            <button @click="confirmClearSession">Salir</button>
        </div>

        <div class="tab-content">
            <div v-if="activeTab === 'tab1'">
                <!-- Contenido de la pestaña 1 EDA -->

                <h1>EDA Análisis Exploratorio de Datos</h1>
                <h2>Primeros quince valores</h2>
                <div class="table-container">
                    <table class="tabla">
                        <tr>
                            <th scoope="row"></th>
                            <th v-for="encabezado in variablesTotales" :key="encabezado" v-text="encabezado"></th>
                        </tr>
                        <tr v-for="(row, rowIndex) in head15_csv" :key="rowIndex">
                            <th v-text="rowIndex"></th> <!-- Encabezado de fila -->
                            <td v-for="(value, colIndex) in row" :key="colIndex" v-text="value"></td>
                        </tr>
                    </table>
                </div>
                <h2>Resumen estaditico de Variables Numéricas</h2>
                <div class="table-container">
                    <table class="tabla">
                        <tr>
                            <th scoope="row"></th>
                            <th v-for="encabezado in stringArray3" :key="encabezado" v-text="encabezado"></th>
                        </tr>
                        <tr v-for="(row, rowIndex) in matriz4" :key="rowIndex">
                            <th v-text="variables[rowIndex]"></th> <!-- Encabezado de fila -->
                            <td v-for="(value, colIndex) in row" :key="colIndex" v-text="value"></td>
                        </tr>
                    </table>
                </div>
                <h2>Gráficos</h2>
                <div class="graphs">
                    <h2>Distribución de variables numéricas</h2>
                    <div class="graphsHist">
                        <div v-for="(ruta, index) in histdis" :key="ruta" :class="getGraphClass(index, histdis.length)">
                            <iframe :src="ruta"></iframe>
                        </div>
                    </div>
                </div>
                <div class="graphs">
                    <h2>Histograma de Variables Categóricas</h2>
                    <div class="graphsHist">
                        <div v-for="(ruta, index) in histcat" :key="ruta" :class="getGraphClass(index, histcat.length)">
                            <iframe :src="ruta"></iframe>
                        </div>
                    </div>
                </div>
                <div class="graphs">
                    <h2>Correlación</h2>
                    <iframe :src="corr" class="correlation"></iframe>
                </div>
                <div class="graphs">
                    <h2>Histograma sin Valores Atípicos</h2>
                    <div class="graphsHist">
                        <div v-for="(ruta, index) in histfindis" :key="ruta"
                            :class="getGraphClass(index, histfindis.length)">
                            <iframe :src="ruta"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else-if="activeTab === 'tab2'">
                <!-- Contenido de la pestaña 2 PCA -->
                <h1>PCA Análisis de Componentes Principales</h1>
                <h2>Correlación</h2>
                <div class="table-container">
                    <table class="tabla">
                        <tr>
                            <th scoope="row"></th>
                            <th v-for="encabezado in variables" :key="encabezado" v-text="encabezado"></th>
                        </tr>
                        <tr v-for="(row, rowIndex) in matriz" :key="rowIndex">
                            <th v-text="variables[rowIndex]"></th> <!-- Encabezado de fila -->
                            <td v-for="(value, colIndex) in row" :key="colIndex" v-text="value"></td>
                        </tr>
                    </table>
                </div>
                <div class="graphs">
                    <iframe :src="corr_path" class="correlation"></iframe>
                </div>
                <h1>Cálculo de Covarianzas y componentes</h1>
                <h2>Componentes Principales</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Componente</th>
                            <th>Valores</th>
                            <th>Varianza</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(component, index) in componentes" :key="index">
                            <td v-text="'Componente '+ (index + 1)"></td>
                            <td>
                                <ul>
                                    <li v-for="(value, valueIndex) in component" :key="valueIndex">
                                        <p v-text="value"></p>
                                    </li>
                                </ul>
                            </td>
                            <td v-text="varianza[index]"></td>
                        </tr>
                    </tbody>
                </table>

                <h2>Gráfica de Varianza</h2>
                <div class="graphs">
                    <iframe :src="pca_var" class="correlation"></iframe>
                </div>
                <h2>Análisis de Proporción de Cargas</h2>
                <div class="table-container">
                    <table class="tabla">
                        <tr>
                            <th scoope="row"></th>
                            <th v-for="encabezado in variables" :key="encabezado" v-text="encabezado"></th>
                        </tr>
                        <tr v-for="(row, rowIndex) in matriz2" :key="rowIndex">
                            <th v-text="rowIndex"></th> <!-- Encabezado de fila -->
                            <td v-for="(value, colIndex) in row" :key="colIndex" v-text="value"></td>
                        </tr>
                    </table>
                </div>
                <h3> Con estos datos deberias ser capaz de seleccionar el número de componentes que deseas y cuales son
                    las que deseas conservar.</h3>
                <form id="formComponentes" @submit.prevent="enviarComponentes" method="POST">
                    <label id="labelComponentesForm" for="componentesSeleccionadas">Selecciona las Componentes que deseas:</label>
                    <div id="containerFormComp">
                        <div class="containerCheckboxes">
                            <div v-for="opcion in variables" :key="opcion">
                                <input type="checkbox" :id="'opcion-'+opcion" :value="opcion"
                                    v-model="componentesSeleccionados">
                                <label :for="'opcion-'+opcion" v-text="opcion"></label>
                            </div>
                        </div>
                        <div id="componentes">
                            <p v-text="'Haz seleccionado ' + componentesSeleccionados.length + ' Componentes'"></p>
                            <button id="btnComponentes" type="submit" class="custom-button">Seleccionar esas variables</button>
                        </div>
                    </div>

                    
                </form>

                <div v-if="mostrarTabla">
                    <table class="tabla">
                        <tr>
                            <th scoope="row"></th>
                            <th v-for="encabezado in componentesSeleccionados2" :key="encabezado" v-text="encabezado">
                            </th>
                        </tr>
                        <tr v-for="(row, rowIndex) in matriz3" :key="rowIndex">
                            <th v-text="rowIndex"></th> <!-- Encabezado de fila -->
                            <td v-for="(value, colIndex) in row" :key="colIndex" v-text="value"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>

<script src="{{url_for('static', filename='js/data-mining.js')}}"></script>

</html>